
html {
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

canvas {
  border: 1px solid black;
  background-color: black;
  margin-top: 8.5rem;
}

nav {
  width: 100%;
  height: 4.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.row pre {
  padding: 0.1rem;
}

button {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0rem 0.75rem;
  height: 2rem;
  background-color: #F1F1F1;
  color: black;
  border: none;
  outline: none;
  border-radius: 0;
  margin-right: 0.5rem;
}

button.selected {
  color: white;
  background-color: #4330FC;

}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

input {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0rem 0.75rem;
  height: 2rem;
  border: none;
  outline: none;
}

nav p {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 0rem 1rem;
  height: 2.5rem;
  width: 4.5rem;
  color: black;
  background-color: white;
  margin-right: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav span {
  display: flex;
  margin: 0 1rem;
  align-items: center;

}
